{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ partial "page-title.html" . }}

<!-- cta -->
{{ with .Params.cta }}
{{ if .enable }}
{{ partial "cta.html" . }}
{{ end }}
{{ end }}

<!-- about company -->
{{ with .Params.about_us }}
{{ if .enable }}
<section class="section bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12">
        <div class="content">{{ .content | markdownify }}</div>

        <div class="conduct">
          <a class="btn btn-sm btn-primary mb-2 mr-1" href="{{.code_of_conduct | relURL}}" rel="noopener" target="_blank">
            Code Of Conduct
          </a>
          <a class="btn btn-sm btn-primary mb-2 mr-1" href="{{.code_of_business_conduct | relURL}}" rel="noopener" target="_blank">
            Code Of Business Conduct
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}
{{end}}
<!-- /about company -->

<!-- who_we_are -->
{{ with .Params.who_we_are }}
{{ if .enable }}
<section class="section bg-secondary-white">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 mb-4 mb-md-0 pr-lg-5">
        <img loading="lazy" decoding="async" src="{{ .image | relURL }}" alt="about" class="img-fluid">
      </div>
      <div class="col-md-6 pl-lg-4">
        <div class="content mb-4">{{ .content | markdownify }}</div>
      </div>
    </div>
  </div>
</section>
{{end}}
{{end}}
<!-- /who_we_are -->

<!-- primary_focus -->
{{ with .Params.primary_focus }}
{{ if .enable }}
<section class="section bg-secondary-white-left">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 pr-lg-4">
        <div class="content mb-4">{{ .content | markdownify }}</div>
      </div>
      <div class="col-md-6 mb-4 mb-md-0 pl-lg-5">
        <img loading="lazy" decoding="async" src="{{ .image | relURL }}" alt="about" class="img-fluid">
      </div>
    </div>
  </div>
</section>
{{end}}
{{end}}
<!-- /primary_focus -->

<!-- our_advantages -->
{{ with .Params.our_advantages }}
{{ if .enable }}
<section class="section bg-secondary-white">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 mb-4 mb-md-0 pr-lg-5">
        <img loading="lazy" decoding="async" src="{{ .image | relURL }}" alt="about" class="img-fluid">
      </div>
      <div class="col-md-6 pl-lg-4">
        <div class="content mb-4">{{ .content | markdownify }}</div>
      </div>
    </div>
  </div>
</section>
{{end}}
{{end}}
<!-- /our_advantages -->

<!-- pricing_models -->
{{ with .Params.pricing_models }}
{{ if .enable }}
<section class="section bg-secondary-white-left">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 pr-lg-4">
        <div class="content mb-4">{{ .content | markdownify }}</div>
      </div>
      <div class="col-md-6 mb-4 mb-md-0 pl-lg-5">
        <img loading="lazy" decoding="async" src="{{ .image | relURL }}" alt="about" class="img-fluid">
      </div>
    </div>
  </div>
</section>
{{end}}
{{end}}
<!-- /pricing_models -->

<!-- team -->
{{ with .Params.team }}
{{ if .enable }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
      </div>
      {{ range .team_member}}
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card rounded-0 text-center hover-bg-secondary">
          <div class="card-body pt-4">
            <img loading="lazy" decoding="async" src="{{ .image | relURL}}" alt="" class="img-sm mx-auto rounded-circle mb-4">
            <h4 class="card-title">{{ .name | markdownify }}</h4>
            <p class="h5 mb-0">{{ .designation | markdownify }}</p>
            <a href="mailto:{{ .email }}">{{ .email }}</a>
            <ul class="list-inline mt-3 mb-0">
              {{ range .social }}
              <li class="list-inline-item mx-2"><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /team -->

<!-- clients -->
{{ if .Params.clients_logo.enable }}
{{ partial "clients-logo-slider.html" . }}
{{ end }}
<!-- /clients -->

{{ end }}